#set($ids = [])
#foreach($id in ${ctx.args.ids})
  #set($map - {})
  $util.qr($map.put("id", $util.dynamodb.toString($id)))
  $util.qr($ids.add($map))
#end

{
  "version": "2018-05-29",
  "operation": "BatchGetItem",
  "tables": {
    "serverless-appsync-backend-2-alpha-notes": {
      "keys": $util.toJson($ids),
      "consistendRead": true
    }
  }
}